<?xml version="1.0"?>

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings >
    <add name ="Demo" connectionString ="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Aniket\Demo\Git\Project\App_Data\dbDemo.accdb" />
  </connectionStrings>
  
</configuration>
